<!doctype html>
<html>
    <head>
        <title>Weather App</title>
    </head>
    <body>
        <h1>Check Weather</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Enter city" required />
            <button type="submit">Get Weather</button>
        </form>
        {% if data %}
        <h2>Weather in {{ data.city }}</h2>
        <p>Temperature: {{ data.temp }} &#8451;</p>
        <p>Description: {{ data.descn }}</p>
        <p>Humidity: {{ data.humidity }}%</p>
        {% endif %}
    </body>
</html>
